@charset "utf-8";
/* ZORA PJ core CSS - core.css */

/* header */
.topBar{
    width: 100%;
    height: 4vh;
    background-color: var(--black);
}

.topBar>p{
    color: var(--white);
    font-size: var(--font-size-S);
    line-height: 4vh;
    text-align: center;
    width: 100%;
}

/* nav */
#nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-L ul{
    display: flex;
    flex-basis: 50%;
}

.nav-logo svg{
    width: 115px;
    height: 35px;
    color: var(--white);
}

.nav-R ul{
    display: flex;
    flex-basis: 50%;
}

#nav ul li{
    font-size: var(--font-size-menu);

}

