@charset "utf-8";
/* ZORA PJ root CSS - root.css */

*{
    /* outline: 1px dotted turquoise; */
    /* outline: 1px dotted tomato; */
}

/* FONT 
Atami Regular
Cako Regular
*/

:root{
    /* COLOR */
    --black:#000000;
    --white:#ffffff;
    --main:#f2eee9;
    --main2:#f51c3c;
    --org:#ffe1cc;
    --blue:#ccf4f9;
    --red:#fdd2d8;
    --yell:#fff6d3;
    --pink:#fcddf1;

    
    /* FONTSIZE */
    --font-size-S: 13px;
    --font-size-M: 20px;
    --font-size-L: 30px;
    --font-size-menu: 14px;
}
/*----------*/
/*-- CSS --*/

.-hidden{
    display: none;
}

.-show{
    display: block;
}

.-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*----------*/