/* section-4 / project-content */

.content-container {
  width: 100%;
}

.content-1 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: clamp(30px, 4vw, 40px);
}

.content-2 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: clamp(30px, 4vw, 40px);
  margin-top: clamp(30px, 4vw, 40px);
}

.content-2__left {
  flex: 1;
}

.content-2__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2.5vw, 20px);
}