/* section-4 / project-content */

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(20px, 4vw, 40px);
}

.content-1 {
  flex: 1; 
  display: flex;
}

.content-1 img {
  width: 100%;
  height: auto;
}

.content-2 {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.content-3 {
  display: flex;
}