/* menu */
.visitSite-btn .icon {
  font-size: 10px;
  margin-right: 5px;
}

/* project-inner */
.project-inner {
  padding: 80px min(3.5vw, 50px);
}

/* section-1 */
.thumbnail-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.thumbnail {
  border-radius: clamp(1.2rem, 2.5vw, 5rem);
  overflow: hidden;
}

.thumbnail.pc{
  width: 90%;
  max-width: 1000px;
  aspect-ratio: 60 / 31;
  object-fit: cover;
  object-position: top;
  display: block;
}

.thumbnail.mobile {
  max-width: 360px;
  max-height: 553px;
  aspect-ratio: 100 / 161;
  object-fit: cover;
  object-position: top;
  display: block;
  position: absolute;
  bottom: 50px;
  right: 0;
  height: 50%;
  outline: 5px solid var(--black);
}

.project-info {
  display: flex;
  justify-content: space-between;
  gap: clamp(20px, 4vw, 40px);
}

.project-info__header {
  flex-shrink: 0;
}

.project-info__title {
  font-size: var(--font-size-L);
}

.project-info__stack,
.project-info__media {
  margin-top: 5px;
  font-size: var(--font-size-S);
  color: var(--gray_a);
}

.project-info__site {
  display: block;
  margin-top: 5px;
  font-size: var(--font-size-S);
}

.project-info__site span {
  position: relative;
}

.project-info__site span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  transition: all .2s;
  width: 0%;
  background-color: var(--gray_a);
}


.project-info__site span:hover::after{
  width: 100%;
}

.project-info__text {
  max-width: 500px;
  word-break: keep-all;
  font-size: var(--font-size-M);
}


.project-content::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--line);
  margin: 30px 0;
}

.img-box {
  width: 100%;
}

.img-box img {
  width: 100%;
  height: auto;
}

/* 479px */
@media (max-width: 600px) {
  .thumbnail.pc{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: auto;
    outline: 5px solid var(--black);
  }
  
  .thumbnail.mobile {
    width: 80%;
    height: auto;
    position: static;
    outline: none;
  }

  .project-info {
    flex-direction: column;
  }
  
}