/* section-2 / project-content */

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(20px, 4vw, 40px);
}

.content-1 {
  flex: 1.6; 
}

.content-2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: clamp(10px, 2.5vw, 20px);
}

.content-1 img {
  width: 100%;
  height: auto;
}

