/* section-2 / project-content */

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(30px, 4vw, 40px);
}

.content-1 {
  flex: 1.6; 
}

.content-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2.5vw, 20px);
}

.content-2__top {
  display: flex;
  gap: clamp(10px, 2.5vw, 20px);
}