/* sec-main */
.main-img{
  position: absolute;
  width: 60vw;
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--gray_f5);
  margin: 120px 0;
}

/* story-ediya */
.story-ediya{
  padding-top: 120px;
}

/* --ediya-plan */
.ediya-plan{
  display: flex;
  justify-content: space-between;
}

.ediya-plan h1{
  font-size: var(--font-size-L);
  font-weight: bold;
}

.ediya-plan div{
  display: flex;
  flex-direction: column;
}

.ediya-plan p{
  font-size: var(--font-size-S);

}

.ediya-plan h5{
  font-size: var(--font-size-S);
  font-weight: bold;
  color: var(--gray_a);
  margin-top: 60px;
}

/* --ediya-design */
.ediya-design{
  margin-top: 120px;
}

.ediya-design h2{
  font-size: var(--font-size-L);
  font-weight: bold;
}

.ediya-design div{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.ediya-design div img:last-child{
  height: 150px;
  width: auto;
}

/* story-code */
.story-code{
  height: 120vh;
}

.story-code img{
  width: 50%;
}
/* 
.code-part1{
  display: flex;
} */

