/* sec-main */
.main-img{
  position: absolute;
  width: 60vw;
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--gray_f5);
  margin: 120px 0;
}

/* story-starbucks */
.story-starbucks{
  padding-top: 120px;
}

/* --starbucks-plan */
.starbucks-plan{
  display: flex;
  justify-content: space-between;
}

.starbucks-plan h1{
  font-size: var(--font-size-L);
  font-weight: bold;
}

.starbucks-plan div{
  display: flex;
  flex-direction: column;
}

.starbucks-plan p{
  font-size: var(--font-size-S);
}

.starbucks-plan h5{
  font-size: var(--font-size-S);
  font-weight: bold;
  color: var(--gray_a);
  margin-top: 60px;
}

/* story-code */
.story-code{
  position: relative;
  width: 100%;
  padding-bottom: 120px;
}

.story-code img{
  width: 45%;
}

.story-code .bg{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.story-code .tablet img{
  position: absolute;
  top: 500px;
  right: 0;
}

.story-code .mobile{
  margin-top: 120px;
  transform: translateX(120px);
}

.story-code .mobile img{
  width: 250px
}