/* sec-main */
.main-img{
  position: absolute;
  width: 60vw;
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--gray_f5);
  margin: 120px 0;
}

/* story-starbucks */
.story-starbucks{
  padding-top: 120px;
}

/* --starbucks-plan */
.starbucks-plan{
  display: flex;
  justify-content: space-between;
}

.starbucks-plan h1{
  font-size: var(--font-size-L);
  font-weight: bold;
}

.starbucks-plan div{
  display: flex;
  flex-direction: column;
}

.starbucks-plan p{
  font-size: var(--font-size-S);
}

.starbucks-plan h5{
  font-size: var(--font-size-S);
  font-weight: bold;
  color: var(--gray_a);
  margin-top: 60px;
}
