/* sec-main */
.main-img{
  position: absolute;
  width: 60vw;
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--gray_f5);
  margin: 120px 0;
}

/* story-zora */
.story-zora{
  padding-top: 120px;
}

/* --zora-plan */
.zora-plan{
  display: flex;
  justify-content: space-between;
}

.zora-plan h1{
  font-size: var(--font-size-L);
  font-weight: bold;
}

.zora-plan div{
  display: flex;
  flex-direction: column;
}

.zora-plan p{
  font-size: var(--font-size-S);
}

.zora-plan h5{
  font-size: var(--font-size-S);
  font-weight: bold;
  color: var(--gray_a);
  margin-top: 60px;
}

/* story-code */
.story-code{
  gap: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.story-code img{
  width: 50%;
  height: auto;
}

.story-code .mobile{
  width: 200px;
}