@charset "utf-8";
/* EDIYA COFFEE PJ 인트로 페이지 CSS - intro.css */

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body{
    background-color: #253B82;
}

.l_con{
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    overflow: hidden;
}

#lvid{
    height: 600px;
    width: 625px;
    object-fit: cover;
    object-position: left bottom;
}