@charset "utf-8";
/* EDIYA COFFEE PJ 인트로 페이지 CSS - intro.css */

@import url(./reset.css);

/* 공사중! */
*{
    /* outline: 1px dotted yellow; */
}

body{
    height: 100vh;
    background-color: #253B82;
}

#intro_all{
    display: flex;
}

#intro_all>a{
    width: 100%;
    height: 100%;
}


#intro_all>a:hover .half::before{
    background: rgba(0, 0, 0, 0);
}

#intro_all>a:hover .container h2{
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
}

.half{
    flex: 1;
    width: 100%;
    height: 100vh;
    position: relative;
    /* .container h2의 부모 */
    /* overflow: hidden; */
}

.half::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}


/* h2와 video,p 담고있음 -> 이걸 상하 가운데 정렬...? */
/* position으로 하면 h2의 부모자격이 되서 꼬임 */

.container{
padding-top: 240px;
}

.container h2{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10rem;
    font-weight: 900;
    line-height: 130px;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    white-space: nowrap;
}

#textrtl{
    direction: rtl;
}

.con{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.con p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.6rem;
    color: #fff;
    padding: 4.5vh 0;
}

.vid{
    height: min(50vh,600px);
    width: min(50vw,600px);
    /* object-fit: cover;
    object-position: left bottom; */
}