@charset "utf-8";
/* EDIYA COFFEE PJ 메인페이지 CSS - main.css */

@import url(./reset.css);
@import url(./core.css);

#page_1{
    width: 100%;
    height: 100vh;
    background: url(../images/p1_bg.jpg) no-repeat top/100%
}

#all_nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 30px;
}

.l_nav, .r_nav{
    position: relative;
    box-sizing: border-box;
    height: 100px;
    width: 44.5vw;
}
.l_nav::after, .r_nav::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.l_nav>ul{
    display: flex;
    justify-content: center;
    white-space: nowrap;
    /* gap: 80px; */
    /* width: 850px; */
}

.l_nav ul>li{
    padding: 0 min(2vw,40px);
}

/* 메뉴 폰트 */
.l_nav>ul>li a, .fran>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    line-height: 100px;

    /* display: block; */
}

#p1_logo img{
    width: 160px;
    height: 160px;
    margin-top: 24px;
    /* position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%); */
}

.r_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: absolute; */
    /* right: 0; */
}

.r_nav>.i_search img{
    width: 48px; 
    padding: 0 1vw;
}

.r_nav>.i_search a{
    display: block;
    width: 100%;
    height: 100%;
}

.r_nav>.fran{
    padding: 0 7vw;
}

.borl{
    border-left: 1px solid #fff;
}