@charset "utf-8";
/* EDIYA COFFEE PJ 메인페이지 CSS - main.css */

@import url(./reset.css);
@import url(./core.css);

/*---------- _____page1_____ ----------*/

#page_1{
    height: 100vh;
    background: url(../images/p1_bg.jpg) no-repeat top/100%
}


/*---------- _____page2_____ ----------*/

#page_2{
    height: 100vh;
}

/*-- 흘러가는 글자 --*/
#movetext{
    box-sizing: border-box;
    width: 100%;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    overflow: hidden;
    height: 100px;
}

.movetext{
    display: flex;
    height: 100%;
    width: 4000px;
    /* justify-content: center; */
    align-items: center;
    
    white-space: nowrap;
    
    position: relative;
    left: 0%;
    animation: moveP2 30s linear infinite;
}

.movetext span{
    font-size: 3.6rem;
    padding: 0 30px;
    display: block;
    flex: 1;
    text-align: center;
}

@keyframes moveP2 {
    to{
        left: -2000px;
    }
}
/*-- 흘러가는 글자 --*/

.new_menu{
    display: flex;
    height: calc(100% - 100px);
}

.newimg{
    flex: 1;
    background: url(../images/p2_main_img.jpg) no-repeat center/cover;
}

.r_new{
    flex-basis: 720px;
    /* 720px 영역을 배분했는데 width가 필요한지...?
    개발자 도구로 보면 둘 다 적용이 됨(⊙_⊙;) */
    width: 720px;
}

.new_menu-con1{
    padding: 40px 0;    
    text-align: center;
    border-bottom: 1px solid #000;
}
.new_menu-con1>h2{
    font-size: 6rem;
    font-weight: bold;
}

.new_menu-con2{
    position: relative;
    padding-top: 60px;
}

.btns{
    cursor: pointer;
    width: 46px;
    height: 10px;
}

.lbtn{
    position: absolute;
    top: 50%;
    left: 56px;
}

.rbtn{
    position: absolute;
    top: 50%;
    right: 56px;
}

.slide{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #eee;
    text-align: center;
    overflow: hidden;
}

.slide ul{
    /* position: relative; */
    /* left: 0; */
    display: flex;
    width: 400%;
    /* height: 400px; */
    /* height 고정을 안하니까 2.5픽셀정도가 추가됨...?? */
}

.slide li{
    flex: 1;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    /* 블록요소 하단공백 없애기 */
}

.new_menu-con3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.new_menu-con3 p{
    font-size: 2.8rem;
    font-weight: bold;
}

.new_menu-con3 a{
    display: block;
    color: #757575;
    font-size: 2rem;
}


.new_menu-con4 img{
    width: 48px;
    height: 48px;
}