@charset "utf-8";
/* EDIYA COFFEE PJ 메인페이지 CSS - main.css */

@import url(./reset.css);
@import url(./core.css);

body{
    font-family: 'Nunito Sans','Noto Sans KR';
}
/*---------- _____page1_____ ----------*/

#page_1{
    height: 100vh;
    background: url(../images/p1_bg.jpg) no-repeat top/100%
}


/*---------- _____page2_____ ----------*/

#page_2{
    height: 100vh;
}

#movetext{
    box-sizing: border-box;
    width: 100%;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    overflow: hidden;
    height: 80px;
}

.movetext span{
    font-size: 3.6rem;
    padding: 0 30px;
    display: block;
    flex: 1;
    text-align: center;
}

/*-- 흘러가는 글자(font-size고정용) --*/
/* .movetext{
    display: flex;
    height: 100%;
    width: 4000px;
    align-items: center;
    
    white-space: nowrap;
    
    position: relative;
    left: 0%;
    animation: moveP2 30s linear infinite;
}

@keyframes moveP2 {
    to{
        left: -2000px;
    }
} */

.movetext{
    display: flex;
    height: 100%;
    width: 200%;
    align-items: center;
    
    white-space: nowrap;
    
    position: relative;
    left: 0%;
    animation: moveP2 30s linear infinite;
}


@keyframes moveP2 {
    to{
        /* left: -100%; */
    }
}
/*-- 흘러가는 글자 --*/

.new_menu{
    display: flex;
    height: calc(100% - 80px);
}

.newimg{
    flex: 1;
    background: url(../images/p2_main_img.jpg) no-repeat center/cover;
}

.r_new{
    flex-basis: 720px;
    height: 100%;
}

.new_menu-con1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #000;
}

.new_menu-con1>h2{
    font-size: 6rem;
    font-weight: bold;
}

.new_menu-con2{
    box-sizing: border-box;
    height: 60%;
    position: relative;
    padding: 8vh 0;
    border-bottom: 1px solid #000;
}

.btns{
    cursor: pointer;
    width: 46px;
    height: 10px;
}

.lbtn{
    position: absolute;
    top: 50%;
    left: 68px;
}

.rbtn{
    position: absolute;
    top: 50%;
    right: 68px;
}

.slide{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: #eee;
    text-align: center;
    overflow: hidden;
}

.slide ul{
    /* position: relative; */
    /* left: 0; */
    display: flex;
    width: 400%;
}

.slide li{
    flex: 1;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    /* 블록요소 하단공백 없애기 */
}

.new_menu-con2_bar{
    margin-top: 2vh;
}

.full_bar{
    width: 350px;
    height: 8px;
    background-color: #eeeeee;
    margin: 0 auto;
}

.small_bar{
    width: 100px;
    height: 8px;
    background-color: var(--main-color);
}

.new_menu-con3{
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    border-bottom: 1px solid #000;
}

.new_menu-con3__h{
    margin-left: 40px;
    font-size: 2.8rem;
    font-weight: bold;
}

.new_menu-con3 a{
    display: block;
    color: #757575;
    font-size: 2rem;
    margin-right: 40px;
}

.new_menu-con3 img{
    width: 48px;
    height: 48px;
}

.new_menu-con4{
    box-sizing: border-box;
    height: 15%;
    text-align: center;
}

.new_menu-con4__title{
    /* font-family: 'Nunito Sans', sans-serif; */
    font-size: 2.2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.new_menu-con4__title>span{
    display: block;
    font-size: 2.4rem;
    /* font-family: 'Noto Sans KR', sans-serif; */
    margin-top: 4px;
}

/*---------- _____page3_____ ----------*/

#page_3{
    height: 100vh;
}
.page_3-nav{
    box-sizing: border-box;
    height: 80px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.page_3-nav>ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_3-nav>ul>li:first-child,
.page_3-nav>ul>li:nth-child(2),
.page_3-nav>ul>li:nth-child(3),
.page_3-nav>ul>li:nth-child(4),
.page_3-nav>ul>li:nth-child(5){
margin-right: min(5vw,128px);
}

.page_3-nav ul>li>a{
    font-size: 2.4rem;
    color: #000;
    white-space: nowrap;
}

#page_3-cons{
    height: calc(100vh - 80px);
}

.page_3-con1{
    height: 82%;
}

.page_3-con1>ul{
    display: flex;
    height: 100%;
    overflow: hidden;
}

.page_3-con1>ul>li{
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid #000;
}

.page_3-con1>ul>li>div:first-child{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

.page_3-con1__img{
    width: 350px;
    height: 350px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page_3-con1__title{
    margin-left: 1vw;
    height: 20%;
}

.page_3-con1__title p{
    font-size: 2.2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.page_3-con1__title span{
    display: block;
    font-size: 2.4rem;
    margin-top: 4px;
    white-space: nowrap;
}

.page_3-con2{
    box-sizing: border-box;
    height: 18%;
    border-top: 1px solid #000;
}

.page_3-con2>h2{
    font-size: 8rem;
    font-weight: bold;
    height: 100%;
    line-height: 16.5vh;
    margin-left: 100px;
}

/*---------- _____page4_____ ----------*/
#page_4{
    background-color: var(--main-color);
    height: 2094px;
    position: relative;
    color: #fff;
}

#page_4>img{
    width: 125px;
    position: absolute;
    top: 608px;
    left: 125px;
}

.page_4-con1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 160px 0px;
}

.page_4-top h2{
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}

.page_4-top p{
    font-size: 4rem;
    margin-top: 20px;
    text-align: center;
}


.page_4-con1__text{
    width: 597px;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.page_4-con1__text::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.page_4-con1 h5,
.page_4-con2 h5{
    font-size: 2.8rem;
}

.page_4-con1 p,
.page_4-con2 p{
    font-size: 2rem;
}


.page_4-con1 img{
    width: 850px; 
    height: 550px;

}

.page_4-con2 img{
    width: 600px;
    height: 600px;
}


/*---------- _____page5_____ ----------*/
#page_5{

}
/*---------- _____page6_____ ----------*/
#page_6{

}









/* 블록 세로 중앙정렬
1. flex

2. position: relative/absolute/fixed;
top:50%;
transform: translateY(-50%) ;

3. top:calc(50% - 높이값절반)
*/
