@charset "utf-8";

html, body{
    margin: 0;
    padding: 0;
}

#page1{
    height: 100vh;
    background-color: #eee;
    position: relative;
}
#page2{
    height: 100vh;
    width: 100%;
    background: url(../images/p4_con2.jpg) no-repeat center/cover;

}
#page3{
    height: 100vh;
    background: url(../images/P4_con1.png) no-repeat center/cover;

}
#page4{
    height: 100vh;
    background-color: lightblue;
    position: sticky;
    top: 0px;
}
#page4>div{
    width: 50%;
    height: 50%;
    background-color: lightgreen;

}
#page5{
    height: 100vh;
    background-color: lightcoral;
    position: sticky;
    top: 200px;
}