@charset "utf-8";

.inner{
  max-width: 1580px;
}

/* sec_main */
#sec_main{
  width: 100%;
  height: 100vh;
  background-color: var(--black);
}

header{
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

header .logo_W{
  width: 100px;
  height: auto;
  margin: 0 48px;
}

header nav{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-right: min(16vw,300px);
}

header nav a{
  display: block;
  color: var(--white);
  font-size: var(--font-size-M);
}


/* sec_works */
#sec_works{
  width: 100%;
  height: 100vh;
}