@charset "utf-8";
/* maison margiela PJ 공통 CSS - common.css */

@import url(./reset.css);
@import url(./core.css);

/* root */
:root{
    --main-color:#F7F7F2;
    --black-color:#000000;
    --gray-color:#D4D4D0;
}

body{
    background-color: var(--main-color);
}