@charset "utf-8";
/* maison margiela PJ 공통 CSS - common.css */

@import url(./reset.css);
@import url(./core.css);


*{
    /* outline: 1px dotted turquoise; */
}
/* 
font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/*-- root --*/
:root{
    --main:#F7F7F2;
    --black:#000000;
    --white:#ffffff;
    --Lblack:#121212;
    --gray:rgba(247, 247, 242, 0.2);
    --lightgray:rgba(224, 224, 224, 0.5);
    --blue:#007aff;
    --borderR: 20px;
}
/*----------*/
/*-- CSS --*/
.-ghost{
    background-color : transparent;
}

.-blur:hover{
    background-color: var(--gray);
    backdrop-filter: blur(135px);
}

.-hidden{
    display: none;
}

.-show{
    display: block;
}

.-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*----------*/

body{
    font-family: 'Libre Baskerville', serif;
    background-color: var(--main);
}

/*---------- _____page1_____ ----------*/
#page1{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: var(--main);
}

.page1-con{
    width: 100%;
    height: 100%;
    position: relative;
}

.img-con{
    position: relative;
}

.img-con img{
    aspect-ratio: 3/1.7;
    width: min(90vw,1200px);
    border-radius: var(--borderR);
    margin: 0 auto;
    display: block;
}

.text-con h2{
    position: absolute;
    color: var(--white);
    font-size: 6rem;
    font-weight: normal;
}

.text-con button{
    position: absolute;
    top: auto;
    bottom: 57.5px;
    color: var(--white);
    padding: 10px 20px;
    border-radius: var(--borderR);
    border: 1px solid var(--white);
    font-size: 1.8rem;
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;

}

/*---------- _____page2_____ ----------*/
#page2{
    z-index: 100;
    position: relative;
    height: 84.5vh;
    background-color: var(--main);
}

.page2_text{
    width: 100%;
    padding: 12vh 0;
}

.page2_text p{
    margin: 0 auto;
    padding: 0 3vw;
    max-width: 900px;
    font-size: 2rem;
    text-align: center;
}

.page2_list{
    margin:  0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between
}

.page2_list--con{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
}

.page2_list--con img{
    width: 220px;
    border-radius: var(--borderR);
}
.page2_list--con a{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.4rem;
}

.page2_list--con a>div{
    padding-top: 20px;
}

.page2_list--con:hover {
    transform: scale(.99);
}

/*---------- _____page3_____ ----------*/
#page3{
    height: 100vh;
    
}

.page3-vidbox{
    /* position: fixed; */
    width: 100%;
    top: 0vh;
}

.page3-vid{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.vid{
    width: 120vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*---------- _____page4_____ ----------*/
#page4{
    height: 84vh;
    padding: 200px;
    box-sizing: border-box;
}

.page4_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.page4_text--en{
    font-size: 2rem;
    max-width: 1000px;
}

.page4_text--ko{
    max-width: 670px;
    font-size: 2.2rem;
}


/*---------- _____page5_____ ----------*/
#page5{
    width: 100%;
    height: 100vh;
    background-image: url(../imges/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.page5_title{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.page5_title h4{
    font-size: 1.4rem;
}

.page5_title h5{
    font-size: 2rem;
    margin-top: 10px;
}

.paga5_con--text{
    position: absolute;
    font-size: 7rem;
    width: 100%;
    color: var(--white);
    text-align: center;
}

.page5-colorGray{
    color: var(--lightgray);
}

.page5_con--img1{
    width: 350px;
    position: absolute;
}

.page5_con--img2{
    width: 450px;
    position: absolute;
}
.dh{
    height: 100vh;
}