@charset "utf-8";
/* maison margiela PJ Core CSS - core.css */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Libre+Franklin:wght@400;700&family=Noto+Sans+KR&display=swap');
/* 
font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/*---------- _____header_____ ----------*/
#gnb{
  font-family: 'Libre Franklin', sans-serif;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  padding: 26px 26px 0 26px;
}

.nav{
  width: 100%;
  height: 48px;
  display: flex;
  /* border: 1px solid tomato; */
  justify-content: space-between;
  border-radius: var(--borderR);
}

.nav_L{
  display: flex;
  align-items: center;
  flex-basis: 50%;
  padding-left: 15px;
}

.nav_L ul{
  display: flex;
  align-items: center;
}

.nav_L ul>li{
  white-space: nowrap;
  margin-right: 40px;
}

.nav_L ul>li>a{
  display: block;
  font-size: 1.4rem;
  color: var(--Lblack);
  padding: 10px;
  border-radius: var(--borderR);
}

.nav_C{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_C a{
  display: block;
  height: 100%;
}

.nav_Logo1{
  width: 135px;
  height: 28px;
  margin: 10px 0;
}

.nav_Logo2{
  display: none;
  width: 49px;
  height: 28px;
  margin: 10px 0;
}

.nab_R{
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}

.nab_R button{
  box-sizing: border-box;
  padding: 10px;
  color: var(--Lblack);
  cursor: pointer;
  border-radius: var(--borderR);
}


/*---------- _____footer_____ ----------*/
#footer{
  height: 72vh;
  box-sizing: border-box;
  padding: 200px 0 100px;
  position: relative;
}

.footer_con {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.footer_latter{
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_latter h5{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--Lblack);
}

.footer_latter>p{
  font-size: 1.2rem;
  color: var(--darkgray);
  margin-bottom: 40px;
}

.footer_latter form{
  position: relative;
}

.footer_latter input{
  border-color: var(--darkgray);
  padding: 10px;
  width: 320px;
  border-radius: 10px;
}

.footer_latter>form>label{
  font-size: 1.2rem;
  color: var(--darkgray);
  padding: 2px;
  background-color: var(--main);
  position: absolute;
  top: -6px;
  left: 10px;
}


.footer_links{
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  align-items: flex-start;
  width: 700px;
  white-space: nowrap;
  flex-wrap: wrap;

}

.footer_links--box{
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  flex-wrap: wrap;
  align-items: center;
}

.footer_links--list>li{
  margin: 5px 20px;
  padding: 10px;
  background-color: red;
  border: 1px solid ;
  display: none
  ;
}

.footer_links--btn, .footer_links ul>li>a{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer_text{
  font-family: 'Libre Baskerville', serif;
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 12vh;
  transform: translateX(-50%);
  text-align: center;
}