@charset "utf-8";
/* maison margiela PJ media CSS - media.css */

/* 1600px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1600px) {

/*---------- _____page5_____ ----------*/
.page5-title{
  position: absolute;
  top: auto;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

}




