@charset "utf-8";
/* maison margiela PJ 서브 CSS - sub.css */

@import url(./reset.css);
@import url(./core.css);


body{
    font-family: 'Libre Baskerville', Noto Sans KR;
    background-color: var(--main);
}

.null_box{
    padding-top: 74px;
}

.main-header{
    margin-top: 17vh;
    margin-bottom: 5vw;
}

.main-title{
    font-size: 2.4rem;
    text-align: center;
    font-weight: normal;
}

.list-all{
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    column-gap: min(1vw,10px);
    row-gap: min(30vw,150px);
    justify-content: center;
    margin: 0 auto;
}

.list-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-con:hover .list-con__img{
    transform: translateY(-8px);
    transition: transform .4s;
}

.list-con__img, .null_box2{
    width: min(600px,19.4vw);
    aspect-ratio: 1/1.5;
    border-radius: var(--borderR_sub);
}

.list-con__title{
    display: flex;
    align-items: center;
    padding: 8px;
}

.list-con__title h3{
    font-size: min(0.8vw,1.6rem);
    font-weight: normal;
}

.list-con__title i{
    font-size: 1.6rem;
    margin-left: 8px;
}
