@charset "utf-8";
/* maison margiela PJ 서브 CSS - sub.css */

@import url(./reset.css);
@import url(./core.css);


body{
    font-family: 'Libre Baskerville', Noto Sans KR;
    background-color: var(--main);
}

.null_box{
    padding-top: 74px;
}

.main-header{
    margin-top: 17vh;
    margin-bottom: 5vw;
}

.main-title{
    font-size: 2.4rem;
    text-align: center;
    font-weight: normal;
}

.list-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: min(1vw,10px);
    row-gap: min(30vw,150px);
}

.list-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-con__img{
    width: min(600px,20vw);
    aspect-ratio: 1/1.5;
    border-radius: var(--borderR_sub);
}

.list-con__title{
    display: flex;
}

.list-con__title h3{
    font-size: 1.6rem;
    font-weight: normal;
}