/* header */
.pc-header{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pc-header .logo{
  width: 180px;
  height: auto;
  margin: 0 100px 0 50px;
}

.pc-header .logo svg{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.gnb-all{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.gnb-all .gnb{
  display: flex;
  gap: 50px;
}

.gnb .gnb-menu{
  font-size: var(--font-size-M);
}

.gnb .gnb-menu__area{
  width: 0;
  height: 0;
  overflow: hidden;
}

.gnb-all .etc-gnb{
  display: flex;
  margin-right: 50px;
}