/* header */
.pc-header{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all .2s;
  z-index: 999;
}

.pc-header .logo{
  width: 180px;
  height: auto;
  margin: 0 100px 0 50px;
}

.pc-header .logo svg{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.pc-header .logo.mobileOn svg path{
  fill: #999999;
}

.gnb-all{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.gnb-all .gnb{
  display: flex;
  gap: 50px;
  color: var(--fontBlack);
}

.gnb-all .gnb.mobileOn{
  pointer-events: none;
  color: #999999;
}

.gnb .gnb-menu{
  font-size: var(--font-size-M);
  font-weight: bold;
  height: 100px;
  line-height: 100px;
}

.gnb .gnb-menu:hover .gnb-menu__area{
  visibility: visible;
  opacity: 1;
}

.gnb .gnb-menu__area{
  width: 100%;
  height: 300px;
  visibility: hidden;
  opacity: 0;
  line-height: normal;
  position: absolute;
  left: 0;
  top: 100px;
  background-color: var(--white);
  border-top: 1px solid var(--grayf5);
  transition: all .2s;
}

.gnb .gnb-menu__area ol{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gnb .gnb-menu__area ol li{
  width: 150px;
  font-size: var(--font-size-S);
  font-weight: bold;
  padding-top: 40px;
}

.gnb .gnb-menu__area ol .gnb-menu__title{
  margin: 0 50px;
}

.gnb-menu__title .title-ko{
  margin-right: 20px;
}

.gnb-menu__title .title-content{
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
}

.gnb-menu__title .title-content img{
  width: 30px;
}

.gnb-menu__title .title-content .title-en{
  font-size: var(--font-size-L);
}

.gnb .gnb-menu__area ol .gnb-menu__item{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.gnb-menu__item::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--grayf5);
}

.gnb .gnb-menu__area ol .gnb-menu__item span{
  font-weight: normal;
  color: var(--gray);
}

.gnb .gnb-menu__area ol .gnb-menu__item span:first-child{
  margin-top: 10px;
}

.gnb-all .etc-gnb{
  display: flex;
  align-items: center;
  margin-right: 50px;
  gap: 30px;
}

.etc-gnb .lang-box{
  width: 40px;
  height: var(--font-size-L);
  overflow: hidden;
  font-size: var(--font-size-M);
  font-family: Noto Sans KR;
  background-image: url(../assets/svg/lang-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right top 8px;
}

.etc-gnb .lang-box.on{
  color: var(--white);
  background-image: url(../assets/svg/lang-arrow-downW.svg);
}

.etc-gnb .lang-box.on span a{
  color: var(--white);
}

.etc-gnb .lang-box.hover{
  overflow:  visible;
}

.etc-gnb .wish-box{
  width: 40px;
  height: 40px;
  position: relative;
  background-image: url(../assets/svg/header-wish_B.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.etc-gnb .wish-box span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.etc-gnb .wish-box.on{
  background-image: url(../assets/svg/header-wish_W.svg);
}

.etc-gnb .wish-box.on span{
  color: var(--white);
}

.etc-gnb .wish-box span{
  font-size: var(--font-size-S);
}

.etc-gnb .search-box{
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 40px;
}

.etc-gnb .search-box .search-box__icon{
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background-image: url(../assets/svg/header-search_B.svg);
  background-repeat: no-repeat;
}

.etc-gnb .search-box .search-box__icon.on{
  background-image: url(../assets/svg/header-search_W.svg);

}

.etc-gnb .search-box .search-box__input{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
  opacity: 0;
  transition: all 1s;
}

.etc-gnb .search-box .search-box__input:focus{
  opacity: 0.5;
  width: 300px
}

.etc-gnb .mobile-menu .mobile-menu__line{
  display: block;
  height: 1.5px;
  width: 25px;
  margin: 10px 0;
  background-color: var(--black);
  transition: transform 1s;
}

.etc-gnb .mobile-menu.on .mobile-menu__line:first-child{
  background-color: var(--white);
  transform: translateY(5px) rotate(45deg);
}

.etc-gnb .mobile-menu.on .mobile-menu__line:last-child{
  transform: translateY(-5px) rotate(-45deg);
  background-color: var(--white);
}

.pc-header__bg{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobile-header__bg{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s;
  z-index: 1;
}

.mobile-header{
  position: fixed;
  right: 0;
  width: 595px;
  height: 100vh;
  background-color: var(--main);
  transform: translateX(595px);
  transition: all .2s;
  z-index: 2;
}

.mobile-header.on{
  transform: translateX(0px);
}
