/* section-1 */
#section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

#section-1  .swiper-slide img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#section-1 .swiper-pagination{
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-align: left;
}

#section-1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: var(--black);
}

#section-1 .swiper-pagination .swiper-pagination-bullet{
  background: none;
  border: 1px solid black;
  opacity: 1;
  width: 5px;
  height: 5px;
}