main{
  position: relative;
}

.wines{
  width: 100%;
  height: 100vh;
  display: flex;
}

.wines-left,
.wines-right{
  width: 50%;
}

.wines-left{
  position: relative;
  margin-top: 59px;
}

.wines-content{
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wines-content h3,
.wines-content h4{
  font-size: var(--font-size-M);
  font-family: 'Nanum Myeongjo', serif;
  line-height: 1.3;
  text-align: center;
}

.wines-content p{
  font-size: var(--font-size-S);
  margin-top: 20px;
  line-height: 1.3;
  text-align: center;
}

.info{
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

.info a{
  font-size: var(--font-size-M);
}

.wines-right{
  background-color: var(--gray);
  padding-top: 59px;
  box-sizing: border-box;
}

.wines-imgBox{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.wines-imgBox>img{
  object-fit: cover;
  width: 50%;
  height: 80%;
}

/* 미디어쿼리 */
@media screen and (max-width:990px){
  .wines {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .wines-left, .wines-right {
    width: 100%;
  }
  
  .wines-right {
    background-color: var(--main);
    padding: 159px 0 100px 0;
    box-sizing: content-box;
  }

  .wines-left {
    margin-top: 0px;
  }
  .wines-content {
    padding: 0 20vw;
    box-sizing: border-box;
    margin-bottom: 59px;
  }

  .info {
    position: relative;
    margin-bottom: 60px;
    display: inline-block;
    bottom: auto;
  }
}

/* 미디어쿼리 */
@media screen and (max-width:780px){

}
