
main{
  width: 100%;
  height: 100%;
  display: flex;
}

.left{
  width: 50%;
  height: 100vh;
}

.left-content{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 50px;
}

.left-content h1{
  position: absolute;
  font-size: var(--font-size-L);
  font-family: 'Nanum Myeongjo', serif;
  font-weight: normal;
  text-align: center;
  width: min(40vw,600px);
}

.left-content p{
  width: min(40vw,500px);
  font-size: var(--font-size-S);
  text-align: center;
}

.left-content a{
  margin-top: 80px;
}

.right{
  width: 50%;
  height: 100vh;
}

.right .right-img{
  background-image: url(../assets/images/index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* 미디어쿼리 */
@media screen and (max-width:990px){
  .left{
    width: 100%;
  }

  .left-content h1,
  .left-content p {
    width: min(80vw,600px);
  }

  .right{
    display: none;
  }
}

/* 미디어쿼리 */
@media screen and (max-width:780px){

}