@charset "utf-8";
/* ZORA PJ core CSS - core.css */

body{
    background-color: var(--main);
}

/* cursor */
.cursor{
    width: 20px;
    height: 20px;
    background-color:#f253b9;
    border-radius: 100%;
    position: fixed;
    z-index: 999999999999999999;
    pointer-events: none;
    transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* header */
.topBar{
    width: 100%;
    height: 30px;
    background-color: var(--black);
}

.topBar>p{
    color: var(--white);
    font-size: var(--font-size-S);
    line-height: 30px;
    text-align: center;
    width: 100%;
}

/* nav */
#nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--main2);
}

.nav-L{
    display: flex;
    flex-basis: 50%;
    justify-content: flex-start;
}

.nav-L ul{
    display: flex;
    margin-left: 20px;
}

.nav-L ul li{
    margin: 0 10px;
}

.nav-logo{
    width: 115px;
    height: 35px;
    fill: var(--white);
}

.nav-R{
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
}

.nav-R ul{
    display: flex;
    margin-right: 20px;

}

.nav-R ul li{
    margin: 0 10px;
}

#nav ul li{
    font-size: var(--font-size-menu);
}

#nav ul li a{
    color: var(--white);
    font-family: var(--Atami);

}

/* round svg */
.svg__1, .svg__2{
    width: min(12vw,150px);
    position: fixed;
    top: 120px;
    left: 40px;
    z-index: 1;
}

.svg__2:hover{
    animation: RoundHend 1s linear;
    transform-origin: bottom left;
}

@keyframes RoundHend {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(3deg);
    }
    40%{
        transform: rotate(-3deg);
    }
    60%{
        transform: rotate(3deg);
    }
    80%{
        transform: rotate(-3deg);
    }
    95%{
        transform: rotate(3deg);
    }
}