#domecon{
  margin: 10vh 20px;
}

.domecon-wrap{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.domecon-con .src2{
  width: min(85vw,600px);
  height: auto;
}

.domecon-img {
    margin: 0 auto;
}

.domecon-img img {
    width: 100%;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.domecon-img__cation{
  width: 100%;
  font-family: var(--Atami);
  font-size: var(--font-size-S);
}

.domecon-con{
  margin-top: 5vh;
  gap: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.svg_oneshool{
  width: 95px;
  height: 100px;
}

.domecon-con__tit{
  font-size: var(--font-size-L);
  font-family: var(--Coko);
}

.domecon-con__text{
  font-family: var(--Atami);
  font-size: var(--font-size-S);
}

.domecon-con__btn{
  display: block;
  font-size: var(--font-size-M);
}

.domecon-con__btn::after{
  background-color: var(--black);
}

/* 👉👉👉👉👉👉👉👉👉👉 미디어쿼리 시작 👈👈👈👈👈👈👈👈👈👈 */
@media screen and (min-width: 768px) {
  .domecon-wrap {
    flex-direction: row;
  }

  .domecon-img img {
    width: 50vw;
    height: 600px;
    aspect-ratio: 0.5/0.9;
  }
  
  .domecon-con__text{
    font-size: var(--font-size-M);
    line-height: 28px;
    max-width: 800px;
  }

  .domecon-con {
    align-items: flex-start;
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
    gap: 2vh;
  }
}
@media screen and (min-width: 1024px) {
  .domecon-img img {
    width: 600px;
    height: 100%;
    aspect-ratio: 1/1;
  }
  .domecon-con {
    justify-content: flex-end;
  }

}
@media screen and (min-width: 1440px) {
  .domecon-img {
    flex-basis: 50%;
    text-align: center;
  }
  .domecon-img img {
    width: 800px;
  }
  .domecon-wrap{
    justify-content: space-evenly;
  }
  .domecon-con {
    flex-basis: 50%;
    margin-left: 0px;
    gap: 4vh;
  }
}