
  .chocolate-warp{
    position: relative;
    width: 100%;
  }
  
  .domeCon__con{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: min(-15vw,-150px);
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .domeCon__img{
    position: relative;
  }
  
  .chocolatepack, .chocolatebreak
  {
    width: min(50vw,450px);
  }
  
  .chocolatebreak{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .domeCon__text-tit{
    font-size: var(--font-size-tit);
    font-family: var(--Coko);
    text-align: center;
    margin: 5vh 0;
  
  }
  
  .domeCon__text-btn{
    display: block;
    margin: 0 auto;
    font-size: var(--font-size-M);
  }
  
  .domeCon__text-btn::after{
    background-color: var(--black);
  }
  
  .domeCon__back{
    /* margin-top: 300px; */
    width: 100%;
    height: 480vh;
    background-color: var(--org);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }
  
.chocolate-2__warp{
    position: absolute;
    top: 100vh;
  }
  .chocolate-3__warp{
    position: absolute;
    top: 200vh;
  }
  .chocolate-4__warp{
    position: absolute;
    top: 300vh;
  }
  .chocolate-5__warp{
    position: absolute;
    top: 400vh;
  }
  
  
  .chocolate-2__back{
    width: 100%;
    height: 200vh;
    background-color: var(--blue);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }
  .chocolate-3__back{
    width: 100%;
    height: 200vh;
    background-color: var(--red);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }
  .chocolate-4__back{
    width: 100%;
    height: 180vh;
    background-color: var(--yell);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }
  
  .chocolate-5__backwrap{
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  
  .chocolate-5__back{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: var(--pink);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    
  }