.Email-wrap{
  padding: 20px 20px 50px;
  margin: 20vh 0;
}

.Email-con{
  text-align: center;
}

.Email-con__tit{
  font-size: var(--font-size-L);
  font-family: var(--Coko);
  white-space: nowrap;
}

.Email-con__text{
  margin: 5vh 0;
  font-family: var(--Atami);
  font-size: var(--font-size-M);
}

.Email-form{
  width: min(80vw,600px);
  margin: 0 auto;
}

.Email-form__push{
  position: relative;
}

.push-em{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-style: none;
  background-color: transparent;
  border-bottom: 1px solid var(--black);
}

label{
  font-family: var(--Atami);
  font-size: var(--font-size-S);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 55px;
}

.push-btn{
  border-style: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: auto;
  padding: 20px;
  background-color: transparent;
}
