@charset "utf-8";
@media screen and (min-width: 320px) {
    
}
/* 768px 사이즈 이하 미디어쿼리 시작 */
@media screen and (min-width: 620px) {
    

    /* 돌아가는 손 */
    aside .svg {
        position: fixed;
        top: 120px;
        left: 10%;
    }

    #page1 .page1-warp {
        background-color: var(--main2);
        padding-top: 110px;
    }

    #page1 .page1-con {
        height: calc(100vh - 110px);
    }
}

/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (min-width: 1200px) {
}

/* 1360px 사이즈 이하 미디어쿼리 시작 */
@media screen and (min-width: 1360px) {
}

