.recblur-text{
  margin: 0 20px 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recblur-text h2{
  font-size: var(--font-size-L);
  text-align: center;
  font-family: var(--Coko);
}

.recblur-text p{
  font-family: var(--Atami);
  font-size: var(--font-size-M);
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
}

.recblur-text__btn{
  font-size: var(--font-size-M);
}

.recblur-text__btn::after{
  background-color: var(--black);
}

.recblur-con img{
  width: 100%;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}
