#reccon {
  margin: 10vh 20px;
}

.reccon-con {
  position: relative;
  text-align: center;
}


.reccon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.reccon-text h2 {
  font-size: var(--font-size-L);
  text-align: center;
  font-family: var(--Coko);
}

.reccon-text p {
  font-family: var(--Atami);
  font-size: var(--font-size-S);
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
}

.reccon-text__btn {
  font-size: var(--font-size-M);
}

.reccon-text__btn::after {
  background-color: var(--black);
}

.reccon-con__main1,
.reccon-con__story0,
.reccon-con__story1,
.reccon-con__impact0{
  text-align: center;
}

.reccon-con__main1 .main1,
.reccon-con__story0 .story0 {
  aspect-ratio: 1/0.8;
  object-fit: cover;
  width: min(85vw, 1200px);
}

.reccon-con__story1 .story1 {
  width: min(85vw, 600px);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.reccon-con__impact0{
  padding: 20px;
}

.reccon-con__impact0 .impact0 {
  width: min(50vw, 600px);
  object-fit: cover;
  margin-bottom: 20px;
}

.reccon-con__impact0 .reccon-text p:first-child {
  margin-top: 50px;
}
.reccon-con__impact0 .reccon-text p:last-child {
  margin-top: 0px;
}


/* 👉👉👉👉👉👉👉👉👉👉 미디어쿼리 시작 👈👈👈👈👈👈👈👈👈👈 */
@media screen and (min-width: 768px) {
  .reccon-con__story0 .reccon-text,
  .reccon-con__story1 .reccon-text{
    margin-right: 20px;
  }
  
  .reccon-con__impact0 .reccon-text{
    margin-left: 20px;
  }
  
  .reccon-con__impact0 h2{
    text-align: left;
  }

  .reccon-text h2 {
    max-width: 450px;
}

  .reccon-text p {
    font-size: var(--font-size-M);
    line-height: 28px;
    max-width: 600px;
    margin: 50px 0;
  }

  .reccon-con__story0,
  .reccon-con__story1{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .reccon-con__impact0{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .reccon-con__story0 .story0,
  .reccon-con__story1 .story1 {
    width: 200px;
    object-fit: cover;
    flex: 1;
  }

  .reccon-con__impact0 .impact0{
    width: 40vw;
    height: 40vw;
    flex-basis: 50%;
  }

  .reccon-con__story0 .reccon-text,
  .reccon-con__story1 .reccon-text  {
    align-items: flex-start;
    flex: 1;
  }

  .reccon-con__story0 .reccon-text h2,
  .reccon-con__story0 .reccon-text p,
  .reccon-con__story1 .reccon-text h2,
  .reccon-con__story1 .reccon-text p  {
    text-align: left;
  }

  .reccon-con__story1 .reccon-text p {
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .reccon-con__story0 .story0,
  .reccon-con__story1 .story1 {
    width: min(30vw, 200px);
  }

  .reccon-text h2 {
    max-width: 800px;
}

  .reccon-text p {
    max-width: 800px;
  }

  .reccon-con__impact0 .impact0{
    width: 50vw;
    height: 200px;
  }

  .reccon-con__impact0 .reccon-text p{
    text-align: left;
  }

}
