.reccon-con{
  margin: 8vh 20px;
  position: relative;
  text-align: center;
}

.reccon-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reccon-text h2{
  font-size: var(--font-size-L);
  text-align: center;
  font-family: var(--Coko);
}

.reccon-text p{
  font-family: var(--Atami);
  font-size: var(--font-size-S);
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
}

.reccon-text__btn{
  font-size: var(--font-size-M);
}

.reccon-text__btn::after{
  background-color: var(--black);
}

.reccon-con .main1{
  aspect-ratio: 1/0.8;
  object-fit: cover;
  width: min(85vw,1200px);
}

.reccon-con .story0{
  width: min(85vw,600px);
  aspect-ratio: 1/0.8;
  object-fit: cover;
}

.reccon-con .story1{
  width: min(85vw,600px);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.reccon-con .impact0{
  width: min(85vw,600px);
  aspect-ratio: 1/1.1;
  object-fit: cover;
}