
/* round svg */
.svg{
  width: min(20vw,150px);
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.svg__2{
  position: absolute;
  top: 0;
  left: 0;
  width: min(20vw,150px);
}

.roundDT{
  width: min(20vw,150px);
  top: 120px;
  left: 40px;
  z-index: 1;
}

.svg__2:hover{
  animation: RoundHend 1s linear;
  transform-origin: bottom left;
}

@keyframes RoundHend {
  0%{
      transform: rotate(0deg);
  }
  20%{
      transform: rotate(3deg);
  }
  40%{
      transform: rotate(-3deg);
  }
  60%{
      transform: rotate(3deg);
  }
  80%{
      transform: rotate(-3deg);
  }
  95%{
      transform: rotate(3deg);
  }
}

/* 👉👉👉👉👉👉👉👉👉👉 768px 사이즈 이하 미디어쿼리 시작 👈👈👈👈👈👈👈👈👈👈 */
@media screen and (min-width: 768px) {
  aside .svg {
    position: fixed;
    top: 120px;
    left: 12%;
  }
}
@media screen and (min-width: 1000px) {
  aside .svg {
    position: fixed;
    top: 120px;
    left: 5%;
  }
}