@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto:wght@300&display=swap');
/* FONT-FAMILY */
/* font-family: 'Nanum Myeongjo', serif; */
/* font-family: 'Roboto', sans-serif; */

*{
    /* outline: 1px dotted turquoise; */
    /* outline: 1px dotted tomato; */
}

:root{
  /* COLOR */
  --black:#000000;
  --white:#ffffff;
  --main:#eae2cf;
  --nav:#eebc32;
  --gray: #eeeae1;
  --beige: #fef9ef;
  --content: #6f7560;
  
  /* FONTSIZE */
  --font-size-S: 1.4rem;
  --font-size-M: 1.8rem;
  --font-size-L: 4.5rem;

}
/*----------*/
/*-- CSS CLASS --*/

.-hidden{
    display: none;
}

.-show{
    display: block;
}

.-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*----- CSS -----*/
.btn-line{
  display: block;
  font-size: var(--font-size-M);
  }

  .btn-line::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: all .4s;
  }

  .btn-line:hover::after{
    width: 0%;
    height: 1px;
  }

  .btn-underline{
    display: block;
  }

  .btn-underline::after{
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--black);
    transition: all .4s;
  }

  .btn-underline:hover::after{
    width: 100%;
  }

