@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Roboto&display=swap');
/* FONT-FAMILY */
/* font-family: 'Domine', serif; */
/* font-family: 'Roboto', sans-serif; */

*{
    outline: 1px dotted turquoise;
    /* outline: 1px dotted tomato; */
}

:root{
  /* COLOR */
  --black:#000000;
  --white:#ffffff;
  --main:#eae2cf;
  --nav:#eebc32;
  
  /* FONTSIZE */
  --font-size-S: 1.4rem;
  --font-size-M: 1.8rem;
  --font-size-L: 4.5rem;

}
/*----------*/
/*-- CSS CLASS --*/

.-hidden{
    display: none;
}

.-show{
    display: block;
}

.-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*----- CSS -----*/

/* .btn-W::after, .btn-B::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    transition: all .4s;
  }  

  .btn-W:hover::after, .btn-B:hover::after{
    width: 0%;
    height: 1px;  
  } */

  .btn{
    display: block;
    font-size: var(--font-size-M);
  }

  .btn::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: all .4s;
  }

  .btn:hover::after{
    width: 0%;
    height: 1px;
  }

